<div class="row">
    <div class="col-12 mt-2">
        <h1>Produtos</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-2">
        <button type="button" class="btn btn-primary" (click)="createProduct()">
            <i class="fa fa-plus"></i>
            Novo produto
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="text-center" style="width: 15%">Estoque</th>
                    <th class="text-center" style="width: 15%">Custo</th>
                    <th style="width: 15%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.name }}</td>
                    <td class="text-center" style="width: 15%">{{ product.stock }}</td>
                    <td class="text-center" style="width: 15%">{{ product.cost | currency }}</td>
                    <td class="text-center" style="width: 30%">
                        <button type="button" class="btn btn-success mr-2" (click)="editProduct(product)">
                            <i class="fa fa-edit"></i>
                            Editar
                        </button>
                        <button type="button" class="btn btn-danger" (click)="removeProduct(product)">
                            <i class="fa fa-trash"></i>
                            Remover
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>