<div class="row">
    <div class="col-12 mt-2">
        <h1>Clientes</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-2">
        <button type="button" class="btn btn-primary" (click)="createCustomer()">
            <i class="fa fa-plus"></i>
            Novo cliente
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Plano</th>
                    <th class="text-center" style="width: 20%">Telefone</th>
                    <th class="text-center" style="width: 30%">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.plan ? customer.plan.name : 'Sem plano' }}</td>
                    <td class="text-center" style="width: 20%">{{ customer.phoneNumber }}</td>
                    <td class="text-center" style="width: 30%">
                        <button type="button" class="btn btn-success mr-2" (click)="editCustomer(customer)">
                            <i class="fa fa-edit"></i>
                            Editar
                        </button>
                        <button type="button" class="btn btn-danger" (click)="removeCustomer(customer)">
                            <i class="fa fa-trash"></i>
                            Remover
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>