<div class="row mt-2">
    <div class="col-12">
        <h1>Cadastro de plano</h1>
    </div>
</div>
<div class="row mt-2" *ngIf="plan">
    <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="savePlan()">
            <div class="form-group">
                <label><strong>Nome *</strong></label>
                <input type="text" formControlName="name" class="form-control" placeholder="Nome">
                <small *ngIf="form.get('name').errors?.required && (form.get('name').dirty || form.get('name').touched)" class="ng-invalid">
                    O campo nome é obrigatório.
                </small>
            </div>
            <div class="form-group">
                <label><strong>Preço *</strong></label>
                <input type="number" formControlName="price" class="form-control" placeholder="Preço">
                <small *ngIf="form.get('price').errors?.required && (form.get('price').dirty || form.get('price').touched)" class="ng-invalid">
                    O campo preço é obrigatório.
                </small>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!form.valid">
                <i class="fa fa-check"></i>
                Salvar
            </button>
        </form>
    </div>
</div>